@import '@/app/theme';

.container {
  max-width: $max-width;
  margin: 12px auto;
  @include width-height(100%, 400px);
  background-size: cover;
  background-position: center center;
  background-image: $gradientCampaigns, url('/assets/imageCampaigns.svg');
  border-radius: $radius;
  padding: 25px 10px;
  @include dFlex(column, center, center, 25px);
  position: relative;

  .span {
    @include btnCampaign(90px, 45px, 40%, -20px, none, 26px, 700, 40px);

    &::before {
      content: '';
      display: block;
      @include width-height(25px, 17px);
      border-radius: 10px 10px 0 0;
      background-color: $buttonColor;
      position: absolute;
      top: -6px;
      right: 0;
    }
  }

  .title {
    color: $whiteColor;
    @include font(24px, 700);
    margin-top: 15px;
  }

  .iconContainer {
    @include dFlex(row, space-evenly, center, 15px);
    flex-wrap: wrap;

    .icon {
      @include width-height(120px, 120px);
      background: rgba(82, 141, 255, 0.4);
      border-radius: $radius;
      text-align: center;
      @include dFlex(column, center, center, 10px);
      @include font(16px, 700);
      color: $whiteColor;
      padding: 0 10px;
      box-shadow: 0 2px 2px 0 #474747;

      image {
        @include width-height(25px, 25px);
      }
      p {
        font-size: 14px;
      }
    }
  }

  .btn {
    @include width-height(200px, 30px);
    background: $buttonColor;
    color: $whiteColor;
    border-radius: 10px;
    border: 1px solid $transparent;
    transition: all 300ms linear;
    text-align: center;
    line-height: 26px;
    @include font(17px, 600);
    margin-bottom: -38px;
    box-shadow: 0 4px 20px 0 #a3a2a2;

    &:hover {
      background-color: $whiteColor;
      border: 1px solid $buttonColor;
      color: $buttonColor;
    }
  }

  @media (min-width: 640px) {
    gap: 40px;

    .span {
      left: 45%;
    }

    .btn {
      margin-bottom: -45px;
    }
  }

  @media (min-width: 768px) {
    gap: 40px;

    .title {
      @include font(30px, 700);
    }

    .iconContainer {
      .icon {
        @include width-height(120px, 120px);

        image {
          @include width-height(30px, 30px);
        }
        p {
          font-size: 16px;
        }
      }
    }

    .btn {
      width: 250px;
      position: absolute;
      bottom: -15px;
      left: 35%;
      margin: 0;
    }
  }

  @media (min-width: 1024px) {
    .title {
      @include font(34px, 700);
    }

    .iconContainer {
      .icon {
        @include width-height(150px, 150px);

        image {
          @include width-height(40px, 40px);
        }
        p {
          font-size: 18px;
        }
      }
    }

    .btn {
      width: 400px;
      left: 34%;
    }
  }
}

.info {
  display: block;
  width: 150px;
  margin: 50px auto;
  color: $blackColor;
  border-bottom: 1px solid $blackColor;
  text-align: center;

  &:hover {
    color: $buttonColor;
    border-bottom: 1px solid $buttonColor;
  }
}
