@import '@/app/theme';

.container {
  @include width-height(100%, 700px);
  background-size: cover;
  background-position: center center;
  background-image: $gradientForm, url('/assets/imageForm.svg');
  border-radius: $radius $radius 0 0;
  @include dFlex(column, center, center, 40px);
  padding: 10px;

  .paragraph {
    font-size: 24px;
    color: $whiteColor;
    text-align: center;
  }

  .form {
    padding: 20px;
    @include dFlex(column, center, center, 20px);

    .inputContainer {
      @include dFlex(column, center, flex-start, 5px);
      @include width-height(450px, 60px);

      label {
        color: $whiteColor;
        @include font(16px, 600);
      }

      .input {
        @include width-height(100%, 100%);
        padding: 10px 15px;
        background: rgba(82, 141, 255, 0.3);
        border: 1px solid $whiteColor;
        @include font(16px, 400);
        outline: none;
        color: rgba(255, 255, 255, 0.5);
        border-radius: 20px 5px 5px 5px;

        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .btn {
      @include width-height(450px, 40px);
      background-color: $buttonColor;
      @include font(16px, 600);
      text-align: center;
      line-height: 35px;
      color: $whiteColor;
      border-radius: $radius;
      border: none;
    }
  }
}
