@import '@/app/theme';

.container {
  @include width-height(100%, 107px);
  background: $gradientNavbar;
  border-radius: $radius;
  @include dFlex(row, space-evenly, center, 20px);
  position: relative;

  // Logo styles
  .imageContainer {
    width: 200px;

    .image {
      width: 100%;
    }
  }

  .btnMenu {
    display: block;
    @include width-height(40px, 40px);
    color: $whiteColor;
    cursor: pointer;
    transition: color 200ms linear;

    &:hover {
      color: $buttonColor;
    }
  }

  // Small menu styles
  .menuSMContainerNone,
  .menuContainer {
    display: none;
  }

  .menuSMContainer {
    position: absolute;
    top: 80px;
    left: 0px;
    @include width-height(100%, 320px);
    background: $gradientNavbar;
    padding-top: 30px;
    z-index: 999;
    @include dFlex(column, center, center, 0px);
    transition: all 200ms linear;

    .item,
    .lastItem {
      cursor: pointer;
      transition: all 500ms;
      color: $whiteColor;
      font-weight: 600;
      @include width-height(100%, 45px);
      line-height: 42px;
      text-align: center;
      margin: 5px 0;

      &:hover {
        background: $buttonColor;
      }
    }

    .lastItem {
      color: $blueColor;
      background: $whiteColor;

      &:hover {
        color: $whiteColor;
        background: $gradientNavbar;
      }
    }
  }

  // Tablet breakpoint 640px
  @media (min-width: 640px) {
    .imageContainer {
      width: 300px;
    }

    .btnMenu {
      @include width-height(50px, 50px);
    }

    .item,
    .lastItem {
      font-size: 18px;
    }
  }

  // Desktop breakpoint 999px
  @media (min-width: 999px) {
    .btnMenu,
    .menuSMContainer {
      display: none;
    }

    .item,
    .lastItem {
      font-size: 20px;
    }

    // Menu styles
    .menuContainer {
      display: block;
      @include dFlex(row, space-between, center, 15px);

      .item,
      .lastItem {
        cursor: pointer;
        transition: all 500ms;
        color: $whiteColor;
        font-weight: 600;
        font-size: 17px;
        border-bottom: 1px solid $transparent;
        transition: all 300ms linear;

        &:hover {
          border-bottom: 1px solid $whiteColor;
        }
      }

      .lastItem {
        background-color: $whiteColor;
        border: 1px solid $transparent;
        border-radius: $radius;
        color: $blueColor;
        padding: 10px;

        &:hover {
          background-color: $transparent;
          border: 1px solid $whiteColor;
          color: $whiteColor;
        }
      }
    }
  }
}
