@import '@/app/theme';

.container {
  @include width-height(100%, 700px);
  @include dFlex(row, space-between, center);
  padding: 10px;

  // Text styles
  .bannerText {
    @include width-height(600px, auto);
    margin-left: 50px;

    .bannerTitle {
      font-size: 42px;
      font-weight: 400;

      .titleSpan {
        @include font(62px, 700);
        background: $gradientNavbar;
        background-clip: text;
        color: transparent;
      }
    }

    .bannerParagraph {
      @include width-height(550px, auto);
      @include font(20px, 400);
      margin: 20px 0;
    }

    .bannerBtn {
      display: block;
      @include width-height(180px, 40px);
      border: 1px solid $transparent;
      background-color: $buttonColor;
      color: $whiteColor;
      border-radius: 10px;
      text-align: center;
      line-height: 36px;
      @include font(18px, 500);
      transition: all 300ms linear;

      &:hover {
        border: 1px solid $buttonColor;
        background-color: $transparent;
        color: $buttonColor;
      }
    }
  }

  // Image styles
  .bannerImg {
    @include width-height(440px, 85%);
    @include dFlex(row, space-between, center, 40px);
    position: relative;

    img {
      @include width-height(100%, 100%);
      object-fit: cover;
    }
    .image02 {
      height: 80%;
    }
    .bannerPreview {
      @include width-height(125px, 27px);
      position: absolute;
      top: 50%;
      left: -124px;
      background: linear-gradient(90deg, #528dff 0%, #572ded 116.38%);
      border-radius: $radius 0 0 $radius;
      padding-left: 20px;
      line-height: 25px;
      color: $whiteColor;
      @include font(16px, 600);
    }
  }

  // Mobile styles
  @media (min-width: 200px) and (max-width: 699px) {
    @include width-height(100%, 700px);
    @include dFlex(column, space-between, center, 30px);
    margin: 50px 0;

    .bannerText {
      width: 100%;
      margin: 0;

      .bannerTitle {
        font-size: 38px;

        .titleSpan {
          font-size: 58px;
        }
      }

      .bannerParagraph {
        width: 100%;
        font-size: 18px;
      }
    }

    .bannerImg {
      @include dFlex(column, space-between, center, 40px);

      img {
        height: 70%;
      }
      .image02 {
        height: 70%;
      }

      .bannerPreview {
        top: -28px;
        left: auto;
        right: 0;
      }
    }
  }
}
