@import '@/app/theme';

.container {
  max-width: 1400px;
  @include width-height(100%, 700px);
  @include dFlex(column, center, center, 40px);
  margin: 0 auto;
  padding: 10px;

  // Text styles
  .bannerText {
    margin: 50px 0;
    .bannerTitle {
      @include font(32px, 400);
      color: #303030;

      .titleSpan {
        @include font(50px, 700);
        background: $gradientNavbar;
        background-clip: text;
        color: transparent;
      }
    }

    .bannerParagraph {
      @include font(18px, 400);
      margin: 20px 0;
      color: #303030;
    }

    .bannerBtn {
      display: block;
      @include width-height(160px, 40px);
      border: 1px solid $transparent;
      background-color: $buttonColor;
      color: $whiteColor;
      border-radius: 10px;
      text-align: center;
      line-height: 36px;
      @include font(18px, 500);
      box-shadow: 0 4px 20px 0 #a3a2a2;
      transition: all 300ms linear;

      &:hover {
        border: 1px solid $buttonColor;
        background-color: $transparent;
        color: $buttonColor;
      }
    }
  }

  // Image styles
  .bannerImg {
    @include dFlex(column, center, center, 20px);
    position: relative;
    margin-bottom: 50px;

    .bannerPreview {
      @include width-height(125px, 27px);
      position: absolute;
      top: -30px;
      right: 10px;
      background: linear-gradient(90deg, #528dff 0%, #572ded 116.38%);
      border-radius: $radius 0 0 $radius;
      padding-left: 20px;
      line-height: 25px;
      color: $whiteColor;
      @include font(16px, 600);
    }
  }

  @media (min-width: 640px) {
    align-items: flex-start;

    .bannerText {
      margin-left: 50px;

      .bannerTitle {
        @include font(38px, 400);

        .titleSpan {
          @include font(62px, 700);
        }
      }

      .bannerParagraph {
        @include font(20px, 400);
      }
    }

    .bannerImg {
      flex-direction: row;
      gap: 65px;
      margin: 0 auto 50px auto;
    }
  }

  @media (min-width: 999px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .bannerText {
      width: 440px;
      margin-left: 50px;

      .bannerTitle {
        @include font(30px, 400);

        .titleSpan {
          @include font(46px, 700);
        }
      }

      .bannerParagraph {
        @include font(17px, 400);
      }
    }

    .bannerImg {
      width: 20%;
      gap: 15px;
      margin-right: -10px;

      .image01 {
        width: 230px;
      }
      .image02 {
        width: 190px;
      }

      .bannerPreview {
        width: 100px;
        top: 50%;
        right: auto;
        left: -222px;
      }
    }
  }

  @media (min-width: 1124px) {
    .bannerText {
      width: 500px;

      .bannerTitle {
        @include font(35px, 400);

        .titleSpan {
          @include font(50px, 700);
        }
      }

      .bannerParagraph {
        @include font(18px, 400);
      }
    }

    .bannerImg {
      width: 60%;
      gap: 50px;
      margin-right: -240px;
      margin-bottom: 0;

      .image01 {
        width: 310px;
      }
      .image02 {
        width: 260px;
      }

      .bannerPreview {
        width: 120px;
        left: -52px;
      }
    }
  }
}
